name: Pacman eating contributions graph

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Pacman animation
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: "alwznx"
          color: yellow

      - name: Move output file
        run: |
          mkdir -p dist
          mv pacman.svg dist/pacman.svg || true
          mv pacman.gif dist/pacman.gif || true

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
